
html, body, #root{
    height: 100vh;
}

#headerStyle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(248, 253, 255);
    box-shadow: 0px 1px 3px rgb(85, 84, 84);
}

img{
    height: 70px;
    margin-left: 16px;
}
.navStyle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.styleList{
    list-style: none;
    margin-right: 16px;
}

.cartWidget{
    margin-right: 16px;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

.cardStyle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     
}
.imgProducts{
    height: 400px;
}
main{
    flex-grow: 1;
    padding: 1rem;
   
}
